@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    transition: background-color .3s;
    width: 54px;
}

.btn-facebook
{
    background-color: #000000;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}
.btn-instagram
{
    background-color: #000000;
}
.btn-instagram:hover
{
    background-color: #a100a1;
}

